body{

    background-image: linear-gradient(180deg, red, yellow);
    
}

.name_of_the_objects {

    color: lightcyan;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}

#camera {

    height: 400px;
    width:400px;
    text-align: center;

}

#result {

    height:350px;
    width:350px;

}
p{
    text-shadow: 0 0 5px #FF0000;
}

#para {

    text-shadow: 0 0 5px #00ccff;
    font-size: 25px;
}

